{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}

    <h1 class="title">{{ article.title }}</h1>

    {% if article.date %}
        <div class="date">
            <p>written on {{ article.locale_date }}
            by <a rel="author" href="{{ SITEURL }}/pages/aboutme.html">{{ AUTHOR }}</a></p>
        </div>
    {% endif %}

    <div class="clearboth">{{ article.content }}</div>

    {% if article.tags %}
        <div class="tags">
            <p>This entry was tagged on  
            {% for tag in article.tags|sort %}
                {%- if not loop.first and not loop.last %}, {% endif -%}
                {%- if loop.last and not loop.first %} and {% endif %}
                <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag.name.replace(' ', '_') }}</a>
            {%- endfor %}</p>
        </div>
    {% endif %}

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
        {% include 'disqus.html' %}
    {% endif %}

{% endblock %}
