<!doctype html>
<html lang="{% if article and article.language %}{{ article.language }}{% else %}{{ DEFAULT_LANG }}{% endif %}">

<head>
    {% block head %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="dc.language" content="{% if article and article.language %}{{ article.language }}{% else %}{{ DEFAULT_LANG }}{% endif %}" />
    <meta name="dc.license" content="{{ BLOG_LICENSE }}">
    {% if ctx and ctx.summary %}<meta name="description" content="{{ ctx.summary }}">{% endif %}
    {% if ctx and ctx.tags %}<meta name="keywords" content="{{ ctx.tags|sort(case_sensitive=true)|join(', ') }}">{% endif %}
    {% if ctx and ctx.pub_date %}
        <meta name="dc.date.created" content="{{ ctx.pub_date.date().isoformat() }}">
        <meta name="dc.date.issued" content="{{ ctx.pub_date.date().isoformat() }}">
    {% endif %}
    {% if GOOGLE_SITE_VERIFICATION %}
        <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
    {% endif %}

    <!-- favicon -->
    <link rel="icon" href="{{ SITEURL }}/theme/favicon.ico" type="image/x-icon">

    <!-- newsfeeds -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    <!-- assets -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
    <link href="https://fonts.googleapis.com/css?family=Linden+Hill:400,400italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/simplegrid.css" type="text/css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css">
    <!--[if lt IE 8]>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" type="text/css">
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css">

    {% endblock head %}
</head>

<body>

   <div class="grid grid-pad">
     <div class="col-1-1">        
       <ul id="mainnav">
          <li><a href="{{ SITEURL }}">home</a></li>
          {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in PAGES %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
       </ul>
       <div id="blogtitle"><a href="{{ SITEURL }}">{{ SITENAME }}</a></div>
       <div id="blogsubtitle"><a href="{{ SITEURL }}">{{ SITESUBTITLE }}</a></div>
     </div>
    </div>

    <div class="grid grid-pad">
       <div id="left-side" class="col-8-12">
          <section id="content" class="hyphenate">
            {% block content %}{% endblock %}
          </section>
       </div>

       <div id="right-side" class="col-1-12">&nbsp;</div>
       <div id="right-side" class="col-3-12">
          {% include 'right-side.html' %}

          <div class="section-container" id="copyright">
             <p>This Blog generated by <a href="http://getpelican.com/">Pelican</a> using <a href="https://github.com/habibillah/pujangga">Pujangga</a> theme. All content on this blog, unless stated otherwise, is licensed under the <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 International license</a>.</p>
          </div>
       </div>
    </div>

    {# Google Analytics #}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
 
    {# Mathjax for LaTeX rendering #}
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}

    {# Hyphenator #}
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/hyphenator.js"></script>
    <script type="text/javascript">
      Hyphenator.config({
          donthyphenateclassname: 'docutils',
          useCSS3hyphenation: true
      });
      Hyphenator.run();
    </script>

</body>

</html>
