{% extends "base.html" %}

{% block content %}

    {%- for article in articles_page.object_list %}

        <article class="entry-overview">
            <div class="date">{{ article.locale_date }} by <a rel="author" href="{{ SITEURL }}/pages/aboutme.html">{{ AUTHOR }}</a></div>
            <div class="detail">
                <header><h2>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h2></header>

                {% if SHOW_CONTENT_SUMMARY_ON_INDEX %}
                   <div class="summary">{{ article.summary|striptags }} <a href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
                {% else %}
                   <div class="clearboth">{{ article.content }}</div>
                {% endif %}

                {% if article.tags %}
                    <div class="tags">
                        <p>This entry was tagged on  
                        {% for tag in article.tags|sort %}
                            {%- if not loop.first and not loop.last %}, {% endif -%}
                            {%- if loop.last and not loop.first %} and {% endif %}
                            <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag.name.replace(' ', '_') }}</a>
                        {%- endfor %}</p>
                    </div>
                {% endif %}

            </div>
        </article>

      {%- endfor %}

      {% include 'pagination.html' %}

{% endblock %}
